*{
    padding: 0;
    margin: 0;
    border: none;
}
nav ul li{
    float: right;
    margin-right:30px;
    font-size: 2rem;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
nav ul li a:hover{
    padding: 10px 15px 10px 15px;
        color: white;
        background-color:rgb(218, 29, 29);
        border-radius: 100px}
div img{
    margin-top: 3%;
    margin-left: 10px;
    
}
aside{
    width: 60%;
  padding-left: 15px;
  margin-left: 15px;
  margin-top: -18%;
  margin-right: 6px;
  float: right;
  font-style: italic;
  background-color: lightgray;
  text-align: center;
  

}
aside p{
    font-size: 4rem;
}
.dog{
    clear: both;
}

aside:hover{
    background-color: white;
}
aside p:hover{
    color: red;
}
h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Dancing Script',cursive;;
  background-color: white;
    padding: 10px 10px;
    color: red;
    margin-left: 12px;
}
div a{
    text-decoration: none;
}